<!-- templates/prima_app/article_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Article List</title>
</head>
<body>
    <h1>Articles</h1>
    <a href="{% url 'article_create' %}">Create New Article</a>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                <a href="{% url 'article_update' article.id %}">Edit</a>
                <a href="{% url 'article_delete' article.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>